<button class="flex-row flex-center" mat-button [matMenuTriggerFor]="menu">
  <span>{{currentUser.userName}}</span>
  <i class="material-icons">person</i>
</button>
<mat-menu #menu="matMenu">
  <button (click)='openSettings()' mat-menu-item>Settings
    <mat-icon>settings</mat-icon>
  </button>
  <mat-divider></mat-divider>
  <button (click)="logout()" mat-menu-item>Logout
    <mat-icon>cancel</mat-icon>
  </button>
</mat-menu>