<div class="container">
    <div class="lable404 not-primary-collor">
      404
      <span>Page not found</span>
      <button [routerLink]="['/home']" mat-raised-button color="primary">To home page</button>
    </div>
</div>