.container>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lable404 {
    position: relative;
    font-size: 400px;
}

.lable404>span {
    font-size: 60px;
    position: relative;
    top: -270px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
