<div class="modal-form-container flex-column">

  <span class="flex-item-center flex-row flex-center modal-form-header-text">
    <span>Log-in</span>
    <mat-icon class="margin-left-mat-icon">exit_to_app</mat-icon>
  </span>

  <mat-progress-bar class="loading-form" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!loading" class="separator"></div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="flex-column" style="align-items: normal;">

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" autofocus="autofocus" type="text" formControlName="userName" matInput placeholder="Username">
        <mat-error *ngIf="form.controls['userName'].invalid && form.controls['userName'].touched">
          Invalid UserName
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="password" formControlName="password" matInput placeholder="Password">
        <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          Invalid Password
        </mat-error>
      </mat-form-field>

      <span class="flex-row-space-between">
        <button [attr.disabled]="loading ? 'disabled' : null" class="flex-row flex-center" style="width: 48%;" type="submit" mat-raised-button color="primary">
          <span>Sing In</span>
          <mat-icon class="margin-left-mat-icon">send</mat-icon>
        </button>
        <button [attr.disabled]="loading ? 'disabled' : null" type="button" class="flex-row flex-center" style="width: 48%;" (click)="close()" mat-raised-button>
          <span>Close</span>
          <mat-icon class="margin-left-mat-icon">close</mat-icon>
        </button>
      </span>
    </div>

  </form>

  <span class="flex-item-center flex-row flex-center modal-form-footer">
    Not a member? <a [class.isDisabledLink]="loading ? 'disabled' : null" (click)="openSignUpDialog()">Sign Up</a>
  </span>

</div>