/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    background-color: #fafafa;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.isDisabledLink {
    pointer-events: none;
    color: #757575 !important;
}
.isDisabledLink:visited {
    color: #757575;
}

.loading-spinner {
    margin: 0 auto;
    margin-top: 10%;
}

.pointer-events-none{
    pointer-events: none;
}

/*---Override angular material---*/

.cdk-overlay-pane {
    max-width: 100% !important;
}

.mat-simple-snackbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-paginator-container {
    background-color: #fafafa;
}

mat-form-field {
    padding-bottom: 4px;
}

.margin-left-mat-icon {
    margin-left: 5px;
}

/*---*/

.danger-snack-bar {
    background-color: #F44336;
    font-weight: bold;
    color: white;
    text-align: center;
}

.success-snack-bar {
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    text-align: center;
}

.message-snack-bar {
    background-color: #2196F3;
    font-weight: bold;
    color: white;
    text-align: center;
}

/*Modal*/

.modal-form-container {
    width: 320px;
    font-size: 18px;
}

@media (max-width: 600px) {
    .modal-form-container {
        width: 250px;
    }
}

.modal-form-header-text {
    font-size: 24px;
    color: #868e96;
}

.modal-form-footer {
    font-size: 16px;
    margin-top: 10px;
}

.modal-form-footer a {
    margin-left: 6px;
    color: #4153af;
    cursor: pointer;
}

/*Flex box*/

.flex-row {
    display: flex;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-item-center {
    align-self: center;
}

.flex-item-start {
    align-self: flex-start;
}

.flex-item-end {
    align-self: flex-end;
}

.flex-item-normal {
    align-self: normal;
}

/*Html castom elements*/

.separator {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.loading-form {
    margin-top: 8px;
    margin-bottom: 9px;
}

.not-primary-collor {
    color: #757575;
}