<div class="modal-form-container flex-column">

  <span class="flex-item-center flex-row flex-center modal-form-header-text">
    <span>Add film</span>
    <mat-icon class="margin-left-mat-icon">add_circle</mat-icon>
  </span>

  <mat-progress-bar class="loading-form" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!loading" class="separator"></div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="flex-column" style="align-items: normal;">

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="text" formControlName="name" matInput placeholder="Name">
        <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
          Invalid
        </mat-error>
      </mat-form-field>

      <span [class.error-button]="form.controls['cover'].invalid && tryToSubmit" class="not-primary-collor">Cover</span>
      <button [class.error-button]="form.controls['cover'].invalid && tryToSubmit" class="file-button error-button" [attr.disabled]="loading ? 'disabled' : null" type="button" mat-stroked-button (click)="fileInput.click()">
        <div class="flex-row flex-center">
            <span class="not-primary-collor">{{photoName}}</span>
            <mat-icon class="margin-left-mat-icon">add_photo_alternate</mat-icon>
        </div>
        <input required #fileInput (change)="onFileChange($event)" id="cover"  type="file" style="display:none;" />
      </button>

      <mat-form-field>
        <textarea [attr.disabled]="loading ? 'disabled' : null" type="text" formControlName="description" matInput placeholder="Description"></textarea>
        <mat-error *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
          Invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="text" formControlName="director" matInput placeholder="Director">
        <mat-error *ngIf="form.controls['director'].invalid && form.controls['director'].touched">
          Invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="number" formControlName="year" matInput placeholder="Year">
        <mat-error *ngIf="form.controls['year'].invalid && form.controls['year'].touched">
          Invalid
        </mat-error>
      </mat-form-field>

      <span class="flex-row-space-between">
        <button [attr.disabled]="loading ? 'disabled' : null" class="flex-row flex-center"  style="width: 48%;" type="submit" mat-raised-button color="primary">
          <span>Add</span>
          <mat-icon class="margin-left-mat-icon">add_circle</mat-icon>
        </button>
        <button [attr.disabled]="loading ? 'disabled' : null" type="button" class="flex-row flex-center" style="width: 48%;" (click)="close(false)" mat-raised-button>
          <span>Close</span>
          <mat-icon class="margin-left-mat-icon">close</mat-icon>
        </button>
      </span>
    </div>

  </form>

</div>