.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
img{
    width: 35%;
    margin: 0 10px 3px 0;
    float: left;
}
.item-card{
    margin-top: 10px;
}
button{
    margin-right: 5px;
}
