<div class="container">
  <div>
      <button [routerLink]="['/films']"  mat-raised-button color="primary" class="flex-row flex-center" ><mat-icon>navigate_before</mat-icon><span> Back to films list</span></button>
      <button (click)="delete()" *ngIf="currentUserIsAdmin" mat-raised-button color="warn" class="flex-row flex-center"><span>Delete </span><mat-icon>delete_forever</mat-icon></button>
  </div>
  <mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>
  <mat-card *ngIf="!loading" class="item-card">
    <mat-card-header>
      <mat-card-title>{{entity.name}}</mat-card-title>
      <mat-card-subtitle>Director: {{entity.director}}, {{entity.year}}</mat-card-subtitle>
    </mat-card-header>
    <div style="overflow: hidden;">
        <img src="{{entity.coverUrl}}" alt="{{entity.name}} cover">
        <mat-card-content>
            <p>
              {{entity.description}}
            </p>
          </mat-card-content>
    </div>

  </mat-card>
</div>
