<app-main-nav *ngIf="!loading"></app-main-nav>
<div *ngIf="loading" class="loading-spinner flex-column flex-center">
    <h2>ASP.NET Core and Angular</h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>

