<div class="modal-form-container flex-column">

  <span class="flex-item-center flex-row flex-center modal-form-header-text">
    <span>Settings</span>
    <mat-icon class="margin-left-mat-icon">settings</mat-icon>
  </span>

  <mat-progress-bar class="loading-form" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!loading" class="separator"></div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="flex-column" style="align-items: normal;">

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" formControlName="userName" matInput placeholder="Username">
        <mat-error *ngIf="form.controls['userName'].invalid && form.controls['userName'].touched">
          Invalid UserName
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null"  type="email" formControlName="email" matInput placeholder="Email">
        <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
          Invalid Email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="password" formControlName="currentPassword" matInput
          placeholder="Current password">
        <mat-error *ngIf="form.controls['currentPassword'].invalid && form.controls['currentPassword'].touched">
          Invalid Password
        </mat-error>
      </mat-form-field>

      <span class="not-primary-collor text-center">Change password (not required)</span>


      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="password" validateEqual="confirmPassword" reverse="true"
          formControlName="password" matInput placeholder="New Password">
        <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          Invalid Password
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="password" validateEqual="password" formControlName="confirmPassword"
          matInput placeholder="Repeat password">
        <mat-error *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>


      <span class="flex-row-space-between">
        <button [attr.disabled]="loading ? 'disabled' : null" class="flex-row flex-center" style="width: 48%;" type="submit"
          mat-raised-button color="primary">
          <span>Update</span>
          <mat-icon class="margin-left-mat-icon">send</mat-icon>
        </button>
        <button [attr.disabled]="loading ? 'disabled' : null" type="button" class="flex-row flex-center" style="width: 48%;"
          (click)="close()" mat-raised-button>
          <span>Close</span>
          <mat-icon class="margin-left-mat-icon">close</mat-icon>
        </button>
      </span>

    </div>

  </form>

</div>