<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="!mobileQuery.matches" [routerLink]="['/home']" mat-button>Angular & ASP.NET Core</button>
    <div class="right">
      <button *ngIf="!currentUser" (click)="openLoginDialog()" class="nav-item" mat-button>Log-in
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <div *ngIf="currentUser">
        <app-user-menu></app-user-menu>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a routerLinkActive="active" [routerLink]="['/home']" class="nav-item" mat-list-item>Home</a>
        <a routerLinkActive="active" [routerLink]="['/films']" class="nav-item" mat-list-item>Films</a>
        <a href="/Swagger" class="nav-item" mat-list-item>Swagger</a>
        <a href="https://gitlab.com/mirypoko/AspNetCoreAndAngular" class="nav-item" mat-list-item>Git</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
