/* 
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
      flex: 1;
    min-width: 600px;
}

.example-is-mobile .example-sidenav-container {
     flex: 1 0 auto;
}

mat-toolbar {
    z-index: 3;
    background-color: #2E2E2E !important;
}

mat-sidenav{
    background-color: #212121;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.active{
    background-color:  #4285F4 !important; 
    pointer-events:none;
}

.nav-item{
    color: white;
}
a:hover{
    color:  #4285F4!important; 
} */

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
}

/* mat-toolbar{
    height: 44px !important;
} */

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
      flex: 1;
}

.example-is-mobile .example-sidenav-container {
     flex: 1 0 auto;
}

mat-toolbar {
    z-index: 3;
    background-color: #2E2E2E !important;
}

/*Other positioning methods will break the menu in mobile devices*/
.right {
    margin-left: auto;
    margin-right: 0;
}

.nav-item {
    color: white;
}

a:hover {
    color: #4285F4 !important;
}

mat-sidenav {
    background-color: #212121;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.active {
    background-color: #3f51b5 !important;
    pointer-events: none;
}