.container {
    padding: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.item-card {
    position: relative !important;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 40px;
    flex: 0 0 270px;
}

.item-card > mat-card-actions{
    position:absolute;
    bottom: 26px !important;
}

.item-cards-wrapper {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-row-gap: 1rem;
    column-gap: 3rem;
    justify-content: space-around;
    padding-right: 2rem;
    margin: 0 auto; */
    padding-left: 1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

mat-card-content{
  padding-bottom: 10px;
}
mat-card-actions{
  padding-left: 8px;
}
