<div class="container">

  <button (click)="openAddDialog()" *ngIf="currentUserIsAdmin" mat-raised-button color="primary"><span>Add new film </span><mat-icon>add_circle</mat-icon></button>
  <mat-form-field>
    <input matInput [(ngModel)]="filter" (keyup)="onFilterKeyUp()" placeholder="Filter">
  </mat-form-field>

  <mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="item-cards-wrapper">
    <mat-card *ngFor="let entity of entities" class="item-card">
      <mat-card-header>
        <mat-card-title>{{entity.name}}</mat-card-title>
        <mat-card-subtitle>Director: {{entity.director}}, {{entity.year}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{entity.coverUrl}}" alt="{{entity.name}} cover">
      <mat-card-content>
        <p>
          {{entity.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/films/details', entity.id]" class="flex-row flex-center" color="primary" mat-raised-button><span>Details </span><mat-icon>info</mat-icon></button>
        <button (click)="delete(entity.id)" *ngIf="currentUserIsAdmin" class="flex-row flex-center" mat-raised-button color="warn"><span>Delete </span><mat-icon>delete_forever</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-paginator [class.invisible]="loading"
  [length]="length"
  [pageSize]="pageSize"
  [(pageIndex)] = "pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event; onPageEvent();">
  </mat-paginator>
</div>
