<div class="modal-form-container flex-column">

  <span class="flex-item-center flex-row flex-center modal-form-header-text">
    <span>Sign-up</span>
    <mat-icon class="margin-left-mat-icon">person_add</mat-icon>
  </span>

  <mat-progress-bar class="loading-form" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!loading" class="separator"></div>

  <form disabled="loading" [formGroup]="form" (ngSubmit)="submit()">

    <div class="flex-column">

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" autofocus="autofocus" type="email" formControlName="username"
          matInput placeholder="Username">
        <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
          Invalid UserName
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="email" formControlName="email" matInput placeholder="Email">
        <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
          Invalid Email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="password" validateEqual="confirmPassword" reverse="true"
          formControlName="password" matInput placeholder="Password">
        <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          Invalid Password
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [attr.disabled]="loading ? 'disabled' : null" type="password" validateEqual="password" formControlName="confirmPassword"
          matInput placeholder="Repeat password">
        <mat-error *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>


      <span class="flex-row-space-between">
        <button [attr.disabled]="loading ? 'disabled' : null" class="flex-row flex-center" style="width: 48%;" type="submit"
          mat-raised-button color="primary">
          <span>Sing Up</span>
          <mat-icon class="margin-left-mat-icon">send</mat-icon>
        </button>
        <button [attr.disabled]="loading ? 'disabled' : null" type="button" class="flex-row flex-center" style="width: 48%;"
          (click)="close()" mat-raised-button>
          <span>Close</span>
          <mat-icon class="margin-left-mat-icon">close</mat-icon>
        </button>
      </span>

    </div>

  </form>

  <span class="flex-item-center flex-row flex-center modal-form-footer">
    Already have an account? <a [class.isDisabledLink]="loading ? 'disabled' : null" (click)="openLogInpDialog()">Log-in</a>
  </span>

</div>