<div  class="flex-column flex-center">
  <h2 class="text-center">Are you sure?
    <br>
    <small *ngIf="data != null && data.message">{{data.message}}</small>
  </h2>
  <span class="flex-row flex-center">
    <button [mat-dialog-close]="true"  mat-raised-button color="primary">Yes</button>
    <button [mat-dialog-close]="false" mat-raised-button>No</button>
  </span>
</div>