<mat-card class="card">
  <h2 class="text-center">Angular & ASP.NET Core</h2>
  <button [routerLink]="['/films']" mat-raised-button color="primary">Films</button>
  <button onclick="location.href = 'https://gitlab.com/mirypoko/AspNetCoreAndAngular';" mat-raised-button color="primary">Git
    page</button>
  <a onclick="location.href = '/swagger';" mat-raised-button color="primary">Swagger</a>
</mat-card>
